---
title: New Year's Coding Resolutions
description: Quick thoughts on my New Year's Coding Resolutions
date: 2017-01-07 18:05 UTC
tags:
---

%p
  I think this year I'm going to make it a goal to build up my public github code base. Up until now I tend to keep my active projects private and remove any old ones that I no longer use. 
