// Colours

$carolina-blue: #9AD6FF;
$baby-blue: #51A5DF;
$stone-grey: rgb(90,90,90);

$assets: 'http://d1ieljxa6xmxy5.cloudfront.net';

// Fonts
$light-font: 'ProximaNova-Light', 'Helvetica', arial, sans-serif;
$regular-font: 'ProximaNova-Regular', 'Helvetica', arial, sans-serif;
$bold-font: 'ProximaNova-Sbold', 'Helvetica', arial, sans-serif;
$italic-font: 'ProximaNova-Italic', 'Helvetica', arial, sans-serif;

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Light-webfont.eot');
  src: url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Light-webfont.woff') format('woff'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Light-webfont.ttf') format('truetype'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Light-webfont.svg#ProximaNova-Light') format('svg');
 }

 @font-face {
  font-family: 'ProximaNova-Regular';
  src: url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Reg-webfont.eot');
  src: url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Reg-webfont.woff') format('woff'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Reg-webfont.ttf') format('truetype'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-Reg-webfont.svg#ProximaNova-Regular') format('svg');
 }

 @font-face {
  font-family: 'ProximaNova-Italic';
  src: url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-RegIt-webfont.eot');
  src: url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-RegIt-webfont.woff') format('woff'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-RegIt-webfont.ttf') format('truetype'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/ProximaNova-RegIt-webfont.svg#ProximaNova-Italic') format('svg');
 }


 @font-face {
  font-family: 'ProximaNova-Sbold';
  src: url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/proximanova-sbold-webfont.eot');
  src: url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/proximanova-sbold-webfont.woff') format('woff'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/proximanova-sbold-webfont.ttf') format('truetype'),
    url('http://d1ieljxa6xmxy5.cloudfront.net/fonts-folder/proximanova-sbold-webfont.svg#ProximaNova-sbold') format('svg');
 }
