---
title: Returning to JS frameworks with Vue.js 
description: I'm starting to learn a little bit of VueJS
date: 2016-08-31 07:02 UTC
tags: javascript
---

%p
  I’ve never been a fan of the javascript framework craze. Coming from a Ruby on Rails background and being comfortable using sass and coffee script to achieve nearly everything I’ve needed on the front-end, I simply couldn’t see the appeal. 

%p 
  If I’m honest, the mad rush from one framework to another is a large reason why I’m currently not working as a full time web developer. I found myself having to rewrite functionality in Angular.js or Knockout.js that was available out of the box with Rails. I found my technology stack getting bloated while my page weights became heavier. I’ve always been more concerned with the experience of the end product than the technologies behind it and so didn’t feel the need for this added complexity.

%p 
  Recently, after eschewing javascript development for a couple of years in favour of UX design and 
  = link_to 'Swift development, ', '/thoughts/learning-swift/'
  I’ve been dipping my toes back in the waters in the form of 

  = link_to 'Vue.js.', 'http://vuejs.org' 
  After completing a course on Udemy and reading a number of blog posts I’ve got to say I’ve been enjoying what it’s got to offer. Particular highlights have been the simplicity of data-binding and filtering along with the small page load size. 

%p 
  I think that over the coming weeks I’m going to play around with Vue.js on the front-end of a Rails API project. If successful, it might became something I use more often. 