---
title: Gareth Jones, Web Developer and Interactive Designer
description: This is the about page for Gareth Jones, Web Developer and Interactive Designer
---

.holder
  = image_tag "#{cloud}/images/gareth-fixed.png", :alt => 'Gareth Dafydd Jones'

.main
  %p
    %span.first
      A
    n enthusiastic, passionate UX designer / developer for the web and iOS; I have close to a decade of professional experience in architecting, designing and building digital products. I find beauty in simplicity, aiming for elegance and sophistication in every project that I'm involved with.
  %p.break
    Through hands on experience, I have become accustomed to developing in a number of different environments, including the Ruby-based Rails & Sinatra, Yeoman, Grunt & Angular.js, Wordpress, as well as plain old static websites. Most recently I've developed an iOS app using Apple's new programming language, Swift.
  %p
    As long as I have been developing I have been designing. Initially I was designing for consumer-facing business websites. More recently I've been employed as a UX designer, providing solutions to complex problems within the architecture or interface of online products.

  .page-break
    &bull; &bull; &bull;

  %p
    %span.first
      u
    ntil recently I lived in the great city of Chicago where I had spent most of the previous seven years of my life since moving to the states from my native Wales. In the summer of 2013, my wife and I moved down south to Charlotte, NC in pursuit of more outdoor adventures and milder winters.
  %p
    In my free time I like to I taste a lot of wines, watch a lot of boxing, and generally try to enjoy life - while prizing myself away from the MacBook.
  %p
    Contact me by email at
    = link_to 'contact@garethdjones.com', 'mailto:contact@garethdjones.com'
    or using the social buttons located at the bottom left of each page.
